<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="express.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.3.1" targetFramework="net45" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.3.0" targetFramework="net45" />
  <package id="RequireJS" version="2.1.8" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net45" />
</packages>